@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 4

   Roads Not Taken Audio Styles
   Author: Austin Inmon
   Date:   2.04.19

   Filename: rnt_audio.css

*/

/* Audio Styles */

/* The rule is for the audio clips and the style is going to make the elements render as block, the clips will have a shadow of dark grey, the margins will move the clips left. */
audio {
    display: block;
    box-shadow: darkgrey 8px 8px 15px;
    margin: 20px auto;
    width: 80%;
}

/* The rule will make the clips render as a blue background on the clips. */
audio::-webkit-media-controls-panel {
    background: rgb(128, 128, 255);
}